name: Create manual release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v2

      - name: Build
        run: |
          msbuild eqw_takp.sln /p:Configuration=Release /p:Platform=x86

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: eqw.dll
          path: './Release/eqw.dll'
